<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ParkingPrefixRedirect" stopProcessing="true">
          <match url="^parking$" />
          <action type="Redirect" url="/parking/" redirectType="Permanent" />
        </rule>
        <rule name="ParkingReverseProxy" stopProcessing="true">
          <match url="^parking/(.*)" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PREFIX" value="/parking" />
          </serverVariables>
          <action type="Rewrite" url="http://127.0.0.1:8011/{R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    <proxy reverseRewriteHostInResponseHeaders="false" />
  </system.webServer>
</configuration>
